html, body {
    /* get rid of default margins and padding */
    margin: 0;
    padding: 0;
    min-height: 100vh;

    /* background: hsla(234, 100%, 92%, 1);

    background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%); */
    /* background-color: #f8e8d9; */

    /* The light brown: */
    /* background-color: #f7f7f7;  */
    background: rgb(247,247,247);
    background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(239,247,249,1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D7DBFF", endColorstr="#D1FFE0", GradientType=1 );

    scroll-behavior: smooth;
}  

.header {

    outline: none;
    /* background-color: rgb(42, 66, 173); */
    /* background-color: #a5be00; */
    
    text-align: center;
    font-size: 45px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
}



body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#chat_log {
    display: block;
    /* margin-top: 20px; */
    margin-left: 25%;
    /* margin-right: 4vw; */
    margin-bottom: 17px;
    padding-top: 0px;
    width: 50vmax;
    height: 70vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    
    /* background-color: rgba(220, 227, 240, 0.9); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(233, 233, 233);
    /* scrollable */
    overflow-y: scroll;
    float:left;
}

#uploaded_files {
    display: block;
    /* margin-right: 20vw; */
    margin-top: 0px;
    margin-left:1.5vw;
    float:left;
    width: 15vmax;
    height: 70vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgb(233, 233, 233);
}

#submit_button:hover {
    background-color: rgb(50, 139, 212);
    /* background-color: linear-gradient(135deg, rgb(198, 203, 246) 0%, hsla(rgb(185, 246, 205)); */
    transition: 0.3s;
}

#submit_button {
    display: flex;
    flex-grow: 0;
    position: relative;
    
    padding: 8px 16px;
    margin-right: 12px;
    margin-left: 5px;
    font-size: 1.7rem;
    background: #66b9f1;
    /* background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%); */
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: white;
    float: right;
}

/* input text box */
input[type=text] {
    display: flex;
    flex-grow: 10;
    border: none;
    font-size: 1.25rem; 
    outline: none; 
    opacity:0.7;
    padding-left: 15px;
    float: left;
    
}

#discount_form {
    justify-self: center;
    display: flex;

    width: 50vmax;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1vh;
    height: 70px;
    box-shadow: 0 0 15px rgb(233, 233, 233);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: space-between;
    
}


form {
    display: block;
    margin-top: 1%;
}


#user_chat {
    background-color: rgb(151, 221, 174);
    /* background-color: rgb(31, 127, 210); */
    width:fit-content;
    max-width: 53%;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 9px;
    color: white;
    text-align: left;
    min-height: 19px;
}

#ai_chat {
    background-color: rgb(171, 176, 221);
    /* background-color: rgb(131, 131, 131); */
    width:fit-content;
    max-width: 53%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 8px;
    border-radius: 9px;
    color: white;
    text-align: left;
    min-height: 19px;
}


/* Adding new chat to chat-log */
#new_chat {

    display: blocks;
    margin-top: auto;
    margin-bottom: auto;

    padding: 11px;
    
    font-size: 1.25rem;
    /* background: #66b9f1; */
    background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-right: 1vw;
    
}

#pdf_upload {
    display: none;
    justify-self:right;
    background-image: url("../pdf_icon.png");
    background-size: 67px;
    /* transparent background color */
    background-color: rgba(255, 255, 255, 0); 
    width: 67px;
    height: 67px;
    border: 0px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: transparent;
    margin-bottom: 9vh;
    margin-left: 1vw;
}

/* On hover */
#pdf_upload:hover {
    background-image: url("../pdf_icon_darkest.png");
}




/* Hides default file selector button */
::file-selector-button {
    display: none;
}

#bottom_section {
    display: flex;
    margin-left: 25.07vw;
    width: 60%;
}




/* Change Mode Button Stuff */


/*switch styles*/

/* Middle Section */
#middle_section {
    display:flex;
    width: 50vmax;
    justify-content: space-between;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
}

div.btn-container {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 1vh;
    display: inline-block;
    position: relative;
    top: -9px;
}



label {
    font-size: 16px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 38vmax;
    height: 45px;
    /* background: #E0E0E0; */
    background: hsla(234, 100%, 92%, 1);

    background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    /* background: -moz-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%); */
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    top: 13px;
    /* right: 7vmax; */
    right:5vw;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    display: flex;
    content: attr(data-off);
    width: 19vmax;
    height: 30px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #030303;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 45px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    /* background: #151515; */
    background: hsla(234, 100%, 92%, 1);

    background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    /* background: -moz-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%); */
    color: #ffffff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 18.8vmax;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 5vw;
    color: #030303;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    /*background: #66BB6A; */
    /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}



/* new chat button */
.new_chat_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0);

    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.new_chat_button img {
    height: 45px;
}

.HMT_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0);

    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.HMT_button img {
    height: 45px;
}
