<!DOCTYPE html>

<html>
    <head>
        <title>FALCON Chatbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <!-- Connecting to Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <!-- Roboto 300 light font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body onload="hide_pdf_button()">
        <div class="header">
            <div id="menu">
                <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
                </div>
                <nav class="nav" id="nav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/how_to">How To</a></li>
                  </ul>
                </nav> 
            </div>
            <div class="menu-bg" id="menu-bg"></div>
            FALCON Chatbot
            <img id="logo" src="../static/images/falcon_logo.png">
        </div>
        <div id="background">
            <h8 class="about_subtitles">The FALCON Team</h8>
            <div id="about_container">
                <p id="about_text1">
                    We are a team of four high schoolers (Zenchang, Kenneth, Justin, and Niko) in the Applied Physics Laboratory's ASPIRE program. Over the course of the entire summer (2023), we created the FALCON chatbot, short for Fine-tuning Advanced Language models for Cross-domain OptimizatioN. 
                </p>
                <img id="ASPIRE_logo" src="../static/images/ASPIRE_logo.png" height="100">
            </div>
            <h8 class="about_subtitles">
                The Origins of FALCON
            </h8>
            <p class="about_texts">
                There are a number of issues with current, publicly available chatbots—some examples being OpenAI's ChatGPT and Microsoft's Bing Chat—which prevent realistic deployment into secure engineering environments. For example, these models have no knowledge of events beyond the time from which they were trained, meaning that developers won't be able to use these resources for information on new packages and technologies. Additionally, these models, while capable of producing general information on a wide range of topics, struggle to answer specific questions on more specialized domains. To combat these issues, we wanted to implement our very own chatbot which addresses the issues and which is shipped with built-in guardrails and self-explanation tools to enhance robustness and trust.
            </p>
            <h8 class="about_subtitles">
                How it was Built
            </h8>
            <div id="about_container2">
                <ul id="built_list">
                    <li class="built_list"><b>Original model</b>: GPT-J (6 billion parameters)</li>
                    <li class="built_list"><b>Fine-tuned on</b>: radar textbooks and journals, briefs</li>
                    <li class="built_list"><b>Protected with</b>: Nemo Gaurdrails (NSFW, jailbreaking)</li>
                    <li class="built_list"><b>Built with</b>: LangChain Human Machine Teaming capabilities</li>
                    <li class="built_list"><b>Constructed with</b>: Flask (Python web framework)</li>
                </ul>
                <img id="code_icon" src="../static/images/code_icon.png">

            </div>
                
            

            <h8 class="about_subtitles">
                Learn More
            </h8>
            <p class="about_texts">
                Check out our code here: <a href="https://github.com/Cyberninja101/FalconAI" target="_blank" rel="noopener noreferrer">Github Repo</a>
            </p>
            <p class="about_texts">
                Check out our poster here: <a href="https://google.com" target="_blank" rel="noopener noreferrer">Update link here, remind Zenchang</a>
            </p>
            


            

        </div>

        <script type = "text/javascript" src = "{{ url_for('static', filename = 'home.js') }}"></script>
    </body>
</html>