<!DOCTYPE html>

<html>
    <head>
        <title>FALCON Chatbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <!-- Connecting to Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <!-- Roboto 300 light font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body onload="hide_pdf_button()">
        <div class="header">
            <div id="menu">
                <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
                </div>
                <nav class="nav" id="nav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/how_to">How To</a></li>
                  </ul>
                </nav> 
            </div>
            <div class="menu-bg" id="menu-bg"></div>
            FALCON Chatbot
        </div>
        <div id="background">
            <h8 id="falcon_team">The FALCON TEAM:</h8>
            <p id="about1">
                We are a team of four high schoolers (Zenchang, Kenny, Justin, and Niko) in the ASPIRE program at the Applied Physics Laboratory. We created the FALCON chatbot, short for Fine-tuning Advanced Language models for Cross-domain OptimizatioN. 
            </p>
        </div>

        <script type = "text/javascript" src = "{{ url_for('static', filename = 'home.js') }}"></script>
    </body>
</html>