html, body {
    /* get rid of default margins and padding */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Testing some gradient colors below */
    /* background: rgb(246,114,128);
    background: linear-gradient(0deg, rgba(246,114,128,1) 0%, rgba(192,108,132,1) 100%); */
    /* background-color: rgb(225, 230, 255); */

    background: hsla(234, 100%, 92%, 1);

    background: linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(234, 100%, 92%, 1) 0%, hsla(140, 100%, 91%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D7DBFF", endColorstr="#D1FFE0", GradientType=1 );

    scroll-behavior: smooth;
}  

.header {
    background-color: rgb(42, 66, 173);
    /* height: 50px; */
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    /* font-style: italic; */
    color: white;
    
}



body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



#chat_log {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    width: 720px;
    height: 550px;
    border-radius: 20px;
    opacity: 0.7;

    background-color: white;
    /* scrollable */
    overflow-y: scroll;
    
}

#submit_button:hover {
    background-color: rgb(50, 139, 212);
    transition: 0.3s;
}

#submit_button {
    position: relative;
    padding: 8px 16px;
    margin-left:2px;
    font-size: 1.7rem;
    background: #66b9f1;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: white;
}

/* text box */
input[type=text] {
    border: none;
    /* border-bottom: 2px solid black; */
    border-radius: 20px;
    height: 70px;
    font-size: 1.25rem; 
    outline: none;
    width: 650px;
    opacity:0.7;
    padding-left: 15px;
}

form {
    display: block;
    margin-top: 2%;
}


#user_chat {
    background-color: rgb(31, 127, 210);
    width:fit-content;
    max-width: 400px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 9px;
    color: white;
    text-align: left;
}