html, body {
    /* get rid of default margins and padding */
    margin: 0;
    padding: 0;
    background: rgb(246,114,128);
    background: linear-gradient(0deg, rgba(246,114,128,1) 0%, rgba(192,108,132,1) 100%);
}  

.header {
    background-color: purple;
    padding: 0.5px;
}


#name {
    text-align: center;
    /* font-style: italic; */

}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



#chat_log {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 550px;
    border-radius: 20px;

    background-color: #f8b195;
}

#submit_button:hover {
    background-color: rgb(50, 139, 212);
    transition: 0.3s;
}

#submit_button {
    position: relative;
    padding: 8px 16px;
    font-size:23px;
    background: #66b9f1;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: white;
}


input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.25rem; 
    outline: none;
    width: 45%;
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

form {
    display: block;
    margin-top: 2%;
}
