<!DOCTYPE html>

<html>
    <head>
        <title>FALCON Chatbot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <!-- Connecting to Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 id="name">FALCON Chatbot</h1>
        <div id="chat_log"></div>
        <form method="POST">
            <input type="text" id="subreddit" name="subreddit" placeholder="Ask me anything"/>
            <button type="submit" value="Submit" id="submit_button">></button>
            <!-- It was: <input type="submit" value="Submit and Refresh" style="display: none" /> -->
        </form>
    </body>
</html>